.pinned-item{
	display: flex;
	width: calc(100% /6);
	margin-bottom: 20px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.pinned-image{
	height: 50px;
	width: 50px;
	margin-top: 20px;
	margin-bottom: 10px;
}